<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SYSTEME DE GESTION DES COURRIERS</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.3.4/dist/flowbite.min.css" />
</head>
<body>
        @RenderBody()

    <script src="https://unpkg.com/flowbite@1.3.4/dist/flowbite.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
