<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Erreur</title>
</head>
<body class="bg-purple-700 ">
    <div class="grid place-items-center font-sans text-center h-screen">
        <span class="text-white text-9xl font-semibold mt-32">
            403
        </span>
        <span class="text-white text-lg mb-16 -mt-32">
            Vous n'êtes pas autorisé à acceder à cette page<br /><br />
            <button type="button" class="text-gray-500 mb-16 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600"><a href="/User/Index">Page d'acceuil</a> </button>
        </span>
        
    </div>
</body>
</html>
