
<!DOCTYPE html>
<html lang="en" class="v2fLMH8w3xgUEQcl63H9">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Get started with a premium admin dashboard layout built with Tailwind CSS and Flowbite featuring 21 example pages including charts, kanban board, mailing system, and more.">
    <meta name="author" content="Themesberg">
    <meta name="generator" content="Hugo 0.88.1">

    <title>Tailwind CSS 404 Not Found Page - Flowbite</title>

    <link rel="canonical" href="https://flowbite.com/application-ui/demo/pages/404/">



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://flowbite.com/application-ui/demo/app.css">
    <link rel="apple-touch-icon" sizes="180x180" href="https://flowbite.com/application-ui/demo/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://flowbite.com/application-ui/demo/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://flowbite.com/application-ui/demo/favicon-16x16.png">
    <link rel="icon" type="image/png" href="https://flowbite.com/application-ui/demo/favicon.ico">
    <link rel="manifest" href="https://flowbite.com/application-ui/demo/site.webmanifest">
    <link rel="mask-icon" href="https://flowbite.com/application-ui/demo/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">



    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-141734189-9"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-141734189-9');
    </script>


    <script>

    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('v2fLMH8w3xgUEQcl63H9');
    } else {
        document.documentElement.classList.remove('v2fLMH8w3xgUEQcl63H9')
    }
    </script>
</head>
<body class="jtAJHOc7mn7b4IKRO59D _1jTZ8KXRZul60S6czNi">







    <main class="jtAJHOc7mn7b4IKRO59D h8KYXnua2NT4kTVzieom">

        <div class="YRrCJSr_j5nopfm4duUc e8VqoQNK0mbkRFDL3LMV Q_jg_EPdNf9eDMn1mLI2 Nm7xMnguzOx6J5Ao7yCU rhJ7qSuv_H6qJxmzGcAa JGzJOGfW2x0VXm_3WgQB YajDCE_nRj_FDIevNpsd dMAuL1oBmema6sjWH3ZQ h8KYXnua2NT4kTVzieom">
            <div class="_SmdlCf6eUKB_V9S5IDj _3Ib31dSHY_LxnlNfnS_ _IrWoHocjEUQnxx2tEu4">
                <img src="https://flowbite.com/application-ui/demo/images/illustrations/404.svg" alt="astronaut image">
            </div>
            <div class="ijrOHNoSVGATsWYKl4Id Q1hPH2qWcqvGJYzNco8_">
                <h1 class="_hpGev6RXFut0Jm_iRgf q1oXbofRCOhVhOSB8tiU IOPhczRgtphv6NdNBDjj OXyBmUnmaFHYN14c7Giu __9sbu0yrzdhGIkLWNXl _W6lL4Tl4FRQaFVvDlM2 ydrQDf1Vp0dvugV0vX85 OyABRrnTV_kvHV7dJ0uE">Page introuvable</h1>
                <p class="Td37IMFwOi4Zt3Vhv3cT d3C8uAdJKNl1jzfE9ynq _43MO1gcdi2Y0RJW1uHL PeR2JZ9BZHYIH8Ea3F36 uZA22oIO_SmhF60EZ9rn XIIs8ZOri3wm8Wnj9N_y">Oups! Il semble que vous ayez suivi un mauvais lien. Si vous pensez que c'est un problème avec nous, veuillez nous le dire</p>
                <a href="/User/Index" class="y6GKdvUrd7vp_pxsFb57 _0858KT1d0y98Z_k6cvL XReAfK_HGXT3wZdvkoFv _dylIDxYTN3qgvD4U597 HZD1DSdQItR1VGMatHwl ezMFUVl744lvw6ht0lFe mveJTCIb2WII7J4sY22F c8dCx6gnV43hTOLV6ks5 ZjWEEmDsdPvU2GdH53LK cexDVMRjens2nRrMcG96 ijrOHNoSVGATsWYKl4Id _k0lTW0vvzboctTxDi2R Q_jg_EPdNf9eDMn1mLI2 R9nujHypnXyuHrBww9QK PWiWUO6xSc0HAwikCmgB twADTCwVHgGdG4FtLtJx b4TUq7tcN501w55xTXQa">
                    <svg class="ADSeKHR1DvUUA48Chci_ rxe6apEJoEk8r75xaVNG fhCwost7CSNRc2WSHLFW ZEPNZzATe5nPnS0shmrF" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                    Rentrer à la page d'accueil
                </a>
            </div>
        </div>




    </main>





    <script src="https://flowbite.com/application-ui/demo/app.bundle.js"></script>

</body>
</html>